* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

a {
  color: #fff;
  text-decoration: none; }

.container {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px; }

.identity {
  border-bottom: 1px solid #000; }

.icon {
  fill: #fff;
  margin-right: 20px; }

.tiles {
  overflow: hidden;
  padding-left: 0;
  list-style-type: none; }

.tile {
  float: left;
  width: 300px;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: blue; }
  .tile h3 {
    display: inline-block; }
  .tile.tile--email {
    background-color: #0a88ff; }
    .tile.tile--email:hover {
      background-color: #006fd6; }
  .tile.tile--facebook {
    background-color: #306199; }
    .tile.tile--facebook:hover {
      background-color: #244872; }
  .tile.tile--tumblr {
    background-color: #32506d; }
    .tile.tile--tumblr:hover {
      background-color: #22374a; }
  .tile.tile--linkedin {
    background-color: #007bb6; }
    .tile.tile--linkedin:hover {
      background-color: #005a83; }
  .tile.tile--twitter {
    background-color: #26c4f1; }
    .tile.tile--twitter:hover {
      background-color: #0eabd6; }
  .tile.tile--googleplus {
    background-color: #e93f2e; }
    .tile.tile--googleplus:hover {
      background-color: #ce2516; }
  .tile.tile--youtube {
    background-color: #df1c31; }
    .tile.tile--youtube:hover {
      background-color: #b21628; }
  .tile.tile--reddit {
    background-color: #8bbbe3; }
    .tile.tile--reddit:hover {
      background-color: #62a3d9; }
  .tile.tile--pinterest {
    background-color: #b81621; }
    .tile.tile--pinterest:hover {
      background-color: #8a111b; }
  .tile.tile--pocket {
    background-color: #ED4054; }
    .tile.tile--pocket:hover {
      background-color: #e4162e; }
  .tile.tile--github {
    background-color: #444; }
    .tile.tile--github:hover {
      background-color: #2b2b2b; }