/* line 1, ../sass/base/_base.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 1, ../sass/layout/_layout.scss */
.container {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

/* line 1, ../sass/modules/_identity.scss */
.identity {
  border-bottom: 1px solid #000;
}

/* line 1, ../sass/modules/_social-tiles.scss */
.tiles {
  padding-left: 0;
  list-style-type: none;
}

/* line 8, ../sass/modules/_social-tiles.scss */
.tile {
  float: left;
  width: 300px;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: blue;
}