* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 80px 0 0 0;
  padding: 0;
  font-family: Verdana;
  font-weight: 100;
  font-size: 0.85em; }

a {
  text-decoration: none; }

.container {
  text-align: center; }

.identity {
  margin: 0 auto;
  font-weight: normal; }

.introduction {
  margin: 2em auto;
  max-width: 600px; }

.social-button {
  display: inline-block;
  margin: 1em 1em 0 0;
  padding: 0 1em;
  border-radius: 4px; }
  .social-button:hover {
    opacity: 0.9; }
  .social-button.email {
    background-color: #db4a39;
    border: 1px solid #db4a39;
    color: #ffffff; }
  .social-button.facebook {
    background-color: #3b5998;
    border: 1px solid #3b5998;
    color: #ffffff; }
  .social-button.twitter {
    background-color: #00acee;
    border: 1px solid #00acee;
    color: #ffffff; }
  .social-button.linkedin {
    background-color: #0e76a8;
    border: 1px solid #0e76a8;
    color: #ffffff; }
  .social-button.letterboxd {
    background-color: #456;
    border: 1px solid #456;
    color: #fff; }
  .social-button.github {
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff; }
  .social-button.codepen {
    background-color: #4D4D4D;
    border: 1px solid #4D4D4D;
    color: #ffffff; }
  .social-button.stackoverflow {
    background-color: #fe7a15;
    border: 1px solid #fe7a15;
    color: #000; }

.social-button__title {
  line-height: 3em;
  font-weight: bold; }

.social-button__subtitle {
  display: inline-block;
  padding-left: 1em;
  margin-left: 1em;
  line-height: 3em; }
  .email .social-button__subtitle {
    border-left: 1px solid #e57f73; }
  .facebook .social-button__subtitle {
    border-left: 1px solid #8b9dc3; }
  .twitter .social-button__subtitle {
    border-left: 1px solid #2ac4ff; }
  .linkedin .social-button__subtitle {
    border-left: 1px solid #1193d2; }
  .letterboxd .social-button__subtitle {
    border-left: 1px solid #789; }
  .github .social-button__subtitle {
    border-left: 1px solid #3f3f3f; }
  .codepen .social-button__subtitle {
    border-left: 1px solid #606060; }
  .stackoverflow .social-button__subtitle {
    border-left: 1px solid #fea059; }

.ruler {
  border: 0;
  border-bottom: 1px solid lightgrey;
  max-width: 600px;
  margin-top: 3em;
  margin-bottom: 2em; }