// Basic colors
$black: #000;
$lightgrey: lightgrey;

// Social buttons
$social-list: (
	default     #cccccc #ffffff #ffffff,
	email		#db4a39 #ffffff #e57f73,
	facebook	#3b5998 #ffffff #8b9dc3,
	twitter		#00acee #ffffff #2ac4ff,
	linkedin	#0e76a8 #ffffff #1193d2,
	letterboxd	#456 #fff #789,
	github      #000000 #ffffff #3f3f3f,
	codepen     #4D4D4D #ffffff #606060,
	stackoverflow #fe7a15 #000 #fea059,
	jhdefaar 	#a7161b #ffffff #5c5c56,
	quickshare  #427fed #f9f9f9  #ffffff,
	hundredwebpage #000000 #ffffff #ffffff
);
