<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="/css/main-old-ie.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="/css/main.css">
	<!--<![endif]-->

</head>
<body>

	<div class="container">
		<h1 class="identity">Jeroen Van den Berghe</h1>

		<p class="introduction">
			Front-end Web Developer and Technical Lead at De Persgroep Publishing.
		</p>
	</div>

	<div class="container">

		<a href="https://twitter.com/JrnVdb" class="social-button twitter">
			<span class="social-button__title">
				Twitter
			</span>
			<span class="social-button__subtitle">@jrnvdb</span>
		</a>

		<a href="https://www.facebook.com/jeroen.vandenberghe" class="social-button facebook">
			<span class="social-button__title">
				Facebook
			</span>
		</a>

		<a href="mailto:vandenberghe@gmail.com" class="social-button email">
			<span class="social-button__title">
				Email
			</span>
			<span class="social-button__subtitle">vandenberghe@gmail.com</span>
		</a>

		<a href="https://www.linkedin.com/profile/view?id=43348286" class="social-button linkedin">
			<span class="social-button__title">
				LinkedIn
			</span>
		</a>

		<a href="http://letterboxd.com/jeroenvdb/" class="social-button letterboxd">
			<span class="social-button__title">
				Letterboxd
			</span>
			<span class="social-button__subtitle">My life in film</span>
		</a>
	</div>

	<div class="container">
		<a href="https://github.com/JeroenVdb" class="social-button github">
			<span class="social-button__title">
				GitHub
			</span>
			<span class="social-button__subtitle">JeroenVdb</span>
		</a>

		<a href="http://codepen.io/JeroenVdb/" class="social-button codepen">
			<span class="social-button__title">
				CodePen
			</span>
			<span class="social-button__subtitle">JeroenVdb</span>
		</a>

		<a href="http://stackoverflow.com/users/229532/jeroenvdb" class="social-button stackoverflow">
			<span class="social-button__title">
				StackOverflow
			</span>
			<span class="social-button__subtitle">JeroenVdb</span>
		</a>
	</div>
	<hr class="ruler" />
	<div class="container">
		<h2>Personal portfolio &amp; projects</h2>
		<p class="introduction">
			Most projects are created using HTML, CSS and JavaScript. Keeping in mind browser compatibility and performance. Visit my CodePen and GitHub profile for more. You're interested or have some questions, contact me!
		</p>
	</div>
	<div class="container">
		<a href="http://jhdefaar.be" class="social-button social-button--large jhdefaar">
			<span class="social-button__title">
				JHDeFaar.be
			</span>
			<span class="social-button__subtitle">Responsive, Google Maps API</span>
		</a>

		<a href="http://jeroenvdb.be/google-drive-quick-share" class="social-button social-button--large quickshare">
			<span class="social-button__title">
				Google Drive Quick Share</span>
			</span>
			<span class="social-button__subtitle">AngularJS, Google Drive API</span>
		</a>

		<a href="http://jeroenvdb.be/100-percent-webpage/index.html" class="social-button social-button--large hundredwebpage">
			<span class="social-button__title">
				100% Webpage</span>
			</span>
			<span class="social-button__subtitle">Performance, CDN, Apache, WebPageTest</span>
		</a>

		<a href="http://jeroenvdb.be/adblock-detect/index.html" class="social-button social-button--large adblock-detect">
			<span class="social-button__title">
				AdBlock Detect</span>
			</span>
			<span class="social-button__subtitle">HTML5</span>
		</a>

		<a href="#" class="social-button social-button--large default">
			<span class="social-button__title">
				Landlord Helper <span class="blendin">(offline)</span>
			</span>
			<span class="social-button__subtitle">Foursquare API, Geolocation</span>
		</a>

		<a href="#" class="social-button social-button--large default">
			<span class="social-button__title">
				Moviewall <span class="blendin">(offline)</span>
			</span>
			<span class="social-button__subtitle">PHP CodeIgniter, MySQL, TheMovieDB API</span>
		</a>
	</div><!-- /.container -->

	{{ content }}

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-17128351-1', 'auto');
	  ga('send', 'pageview');

	</script>

</body>
</html>
