<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="/css/main-old-ie.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="/css/main.css">
	<!--<![endif]-->

</head>
<body>

	<div class="container">
		<h1 class="identity">Jeroen Van den Berghe</h1>

		<hr class="ruler" />

		<a href="#" class="social-button twitter">
			<span class="social-button__title">
				Twitter
			</span>
			<span class="social-button__subtitle">@jrnvdb</span>
		</a>

		<a href="#" class="social-button facebook">
			<span class="social-button__title">
				Facebook
			</span>
		</a>

		<a href="#" class="social-button email">
			<span class="social-button__title">
				Email
			</span>
			<span class="social-button__subtitle">vandenberghe@gmail.com</span>
		</a>

		<a href="#" class="social-button linkedin">
			<span class="social-button__title">
				LinkedIn
			</span>
		</a>

		<a href="#" class="social-button letterboxd">
			<span class="social-button__title">
				Letterboxd
			</span>
			<span class="social-button__subtitle">My life in film</span>
		</a>

		<hr class="ruler" />

		<a href="#" class="social-button github">
			<span class="social-button__title">
				GitHub
			</span>
			<span class="social-button__subtitle">JeroenVdb</span>
		</a>

		<a href="#" class="social-button codepen">
			<span class="social-button__title">
				CodePen
			</span>
			<span class="social-button__subtitle">JeroenVdb</span>
		</a>

		<a href="#" class="social-button stackoverflow">
			<span class="social-button__title">
				StackOverflow
			</span>
			<span class="social-button__subtitle">JeroenVdb</span>
		</a>

	</div><!-- /.container -->


	{{ content }}

	<script src="js/dist/main.min.js"></script>

</body>
</html>
